.bottom_div,.top_div>div{
  height: 300px;
  resize: both;
  border: 1px solid green;
  overflow: auto;
  margin-top: 20px;
}
.top_div > div{
  width: 300px;
}
.top_div {
  display: flex;
  grid-gap:20px;
}
.top_div >div{
  height: 300px;
}
.App{
  padding: 20px;
}